@import 'tailwindcss';

@layer base {
  @font-face {
    font-family: 'Barcode';
    src: url(/fonts/barcode.ttf) format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Dot';
    src: url(/fonts/dot.ttf) format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Quill';
    src: url(/fonts/quill.otf) format('opentype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Pixel';
    src: url(/fonts/pixel.ttf) format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Zed';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/zed/zed-mono.ttf) format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Zed';
    font-style: italic;
    font-weight: 400;
    src: url(/fonts/zed/zed-mono-italic.ttf) format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Zed';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/zed/zed-mono-bold.ttf) format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Zed';
    font-style: italic;
    font-weight: 700;
    src: url(/fonts/zed/zed-mono-bolditalic.ttf) format('truetype');
    font-display: swap;
  }
}

@theme {
  --font-family-barcode: 'Barcode', 'monospace';
  --font-family-dot: 'Dot', 'sans-serif';
  --font-family-quill: 'Quill', 'cursive';
  --font-family-pixel: 'Pixel', 'monospace';
  --font-family-mono: 'Zed', 'Iosevka', 'Monaco';
}

html,
body,
#root {
  min-height: 100%;
}

.bg-dots {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='16' height='16' fill='none'%3e%3crect fill='rgb(165 180 252 / 0.3)' id='pattern-circle' x='0' y='0' width='2.87' height='2.87'%3e%3c/rect%3e%3c/svg%3e");
}

.pixelated {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

.stack {
  display: grid;
  place-content: center;

  > * {
    grid-area: 1 / 1;
  }
}

@keyframes flash {
  0%,
  10% {
    opacity: 0;
  }

  10%,
  30% {
    opacity: 1;
  }
  90%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-flash {
  animation: flash 2s ease-out forwards;
}

/* highlight-js */

pre code {
  @apply text-indigo-100;
  @apply font-mono;
  display: block;
  line-height: 1.5;
}

.hljs-comment,
pre .hljs-comment,
pre .hljs-meta {
  @apply text-indigo-300/75;
}

.hljs-red,
pre .hljs-regexp,
pre .hljs-ruby .constant,
pre .hljs-xml .tag .title,
pre .hljs-xml .pi,
pre .hljs-xml .doctype,
pre .hljs-html .doctype,
pre .hljs-css .id,
pre .hljs-css .class,
pre .hljs-css .pseudo,
.hljs-orange,
pre .hljs-number,
pre .hljs-preprocessor,
pre .hljs-literal,
pre .hljs-params,
pre .hljs-constant {
  @apply text-orange-400;
}

.hljs-green,
pre .hljs-string,
pre .hljs-value,
pre .hljs-inheritance,
pre .hljs-header,
pre .hljs-ruby .symbol,
pre .hljs-xml .cdata {
  @apply text-rose-400;
}

.hljs-yellow,
pre .hljs-built_in,
pre .hljs-class,
pre .hljs-ruby .class .title,
pre .hljs-css .rules .attribute,
.hljs-aqua,
pre .hljs-css .hexcolor,
pre .hljs-javascript .function,
.hljs-blue,
pre .hljs-python .decorator,
pre .hljs-python .title,
pre .hljs-ruby .function .title,
pre .hljs-ruby .title .keyword,
pre .hljs-perl .sub,
pre .hljs-javascript .title,
pre .hljs-coffeescript .title,
pre .hljs-variable,
pre .hljs-attribute {
  @apply text-teal-200;
}

.hljs-purple,
pre .hljs-keyword,
pre .hljs-function,
pre .hljs-tag {
  @apply text-sky-300;
}
